/* Border mixins */
@mixin border($detail, $width, $style, $color){
    border-#{$detail}: $width $style $color;
}
@mixin border-default {
    border: 1px solid $border-greylight;
}
@mixin border-left {
    border-left: 1px solid $border-greylight;
}
@mixin border-right {
    border-right: 1px solid $border-greylight;
}
@mixin border-top {
    border-top: 1px solid $border-greylight;
}
@mixin border-bottom {
    border-bottom: 1px solid $border-greylight;
}