/* RESPONSIVE */
/* Small Device */
@media(max-width: 767px) {

    // Global 
    .display-mobile {
        display: block;
    }

    .display-desktop {
        display: none;
    }

    // Grid 
    @include grid('sm');
    @include grid-offset('sm');

    // Content 
    .content {
        margin: 80px 10px 20px 10px;
    }

    // Sidebar
    .component--sidebar .notifications {
        position: relative;

        .notifications-alert {
            position: absolute;
            top: -8px;
            left: 29px;
        }
    }

    // Component Date period
    .component--date-period {

        .date-period {
            .date-period-first {
                margin-right: 0;
            }

            input {
                width: 130px;
            }

            .icon-calendar {
                right: 10px;
            }
        }

        .btn {
            margin-top: 10px;
        }
    }

    // General Graph 
    .component--general-graph .general-graph {
        width: 100%;
    }

    // Section Links 
    .section--links {
        .links-list .link-box {
            padding: 0;

            .link {
                margin-left: 0;
            }

            .icons {
                margin: 0;
            }
        }
    }

    // Personal Date
    .component--form-field .form-group {
        label span {
            margin-bottom: 10px;

            .form-control {
                width: 100%;
            }
        }
    }

    // PopUp
    .component--popup .popup-content {
        .popup-header h4 {
            font-size: 16px;
            width: 80%;
        }

        // PopUp Messenger
        &.messenger-content {
            width: 85%;
        }

        .messenger-body .messenger-send .btn {
            margin-top: 15px;
            padding: 8px 20px;
            width: 100%;
        }
    }
}

// Medium Device
@media(min-width:768px) and (max-width: 1199px) {

    // General Graph 
    .component--general-graph .general-graph {
        width: 100%;
    }

    // Section links 
    .section--links .links-list .link-box .link {
        display: inline-block;
        margin-left: 15%;
    }

    // PopUp
    .component--popup .popup-content {
        .popup-header h4 {
            font-size: 16px;
            width: 80%;
        }

        // PopUp Messenger
        &.messenger-content {
            width: 95%;
        }

        .messenger-body .messenger-send .btn {
            margin-top: 15px;
            padding: 8px 20px;
            width: 100%;
        }
    }
}