/* Colors */
$white: #ffffff;
$grey: #979797;
$grey-light: #bababa;
$grey-link: #999999;
$border-greylight: #e3e3e3;
$dark: #191919;
$dark-light: #333333;
$dark-grey: #282828;
$blue-dark: #56819f;
$orange: #f58220;
$orange-light: #ffa200;
$body-color: #f5f5f2;

/* Fonts */
$fontRoboto: 'Roboto', sans-serif;
$weight300: 300;
$weight500: 500;
$weight700: 700;
/* Size */
$h1-size: 42px;
$h2-size: 28px;
$h3-size: 21px;
$h4-size: 18px;
$h5-size: 16px;
$h6-size: 14px;
$paragraph-size: 14px;
$link-large-size: 16px;
$link-small-size: 14px;
/* Border */
$border-default: 1px solid $grey;
