/* Date Period */
.component--date-period {
    text-align: center;

    .date-period {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 370px;
        padding: 10px;
        color: $dark;
        font-size: 14px;
        @include border-default;
        border-radius: 3px;
        box-sizing: border-box;

        &::placeholder {
            color: $grey-light;
        }

        &:hover,
        &:focus {
            border: 1px solid $grey;
            outline: none;
        }

        input {
            border: 0;
            outline: none;
            width: 140px;
        }

        .date-period-first {
            margin-right: 10px;
            @include border-right;
        }

        .date-period-second {
            margin-left: 10px;
        }

        .icon-calendar {
            position: absolute;
            top: 15px;
        }
    }

    .btn-refresh {
        background-color: $orange;
        width: 41px;
        height: 40px;
        padding: 0;

        span {
            padding: 0;
        }
    }
}