/* Icons */
.icon {
display: inline-block;
padding-right: 10px;
background-repeat: no-repeat;
}
/* Icon General */
.icon-general {
    background-image: url(../../images/icons/icon-general.svg);
    width: 16px;
    height: 15px;
}
/* Icon Details */
.icon-details {
    background-image: url(../../images/icons/icon-details.svg);
    width: 16px;
    height: 13px;
}
/* Icon Links */
.icon-links {
    background-image: url(../../images/icons/icon-links.svg);
    width: 16px;
    height: 10px;
}
/* Icon Banners */
.icon-banners {
    background-image: url(../../images/icons/icon-banners.svg);
    width: 16px;
    height: 13px;
}
/* Icon Personal */
.icon-personal {
    background-image: url(../../images/icons/icon-personal.svg);
    width: 16px;
    height: 13px;
}
/* Icon Payout */
.icon-payout {
    background-image: url(../../images/icons/icon-payout.svg);
    width: 16px;
    height: 13px;
}
/* Icon Postback */
.icon-postback {
    background-image: url(../../images/icons/icon-postback.svg);
    width: 16px;
    height: 14px;
}